<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring-4-4.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="widht=devide-width, initial-scale=1.0, maximum-escale=1.0">
    <meta name="author" content="Equipe Propeest">
    <link rel = "stylesheet" href = "style.css">
    <title>Aluno</title>
</head>
<script>
    function goBack() {
        window.history.back()
    }
</script>

<body>

<h1>Bem Vindo Aluno</h1>

<button onclick="goBack()">Voltar</button>
</body>
</html>