<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring-4-4.dtd">
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta name="viewport" content="widht=devide-width, initial-scale=1.0, maximum-escale=1.0">
<meta name="author" content="Equipe Propeest">
<link rel = "stylesheet" href = "style.css">
<title>Inicio</title>
</head>

<body>

    <h1>Armários IFSP</h1><br><br>
    <h2>Bem Vindo! <br> Escolha: </h2><br><br>

    <section class ="botoesinicio">
        <a href="/login"><button class="botao1" type="button">Entrar</button></a>
        <a href="/cadastro"><button class="botao2" type="button">Cadastrar</button></a>
    </section>>
</body>
</html>